<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sg.nyp.groupconnect"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- External storage for caching. -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- My Location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- Maps API needs OpenGL ES 2.0. -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <!-- End of copy. -->

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="sg.nyp.groupconnect.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="sg.nyp.groupconnect.LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name="sg.nyp.groupconnect.Menu"
            android:label="@string/title_activity_menu" >
        </activity>
        <activity
            android:name="sg.nyp.groupconnect.Register"
            android:label="@string/title_activity_register" >
        </activity>
        <activity
            android:name="sg.nyp.groupconnect.Login"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="sg.nyp.groupconnect.PieChartBuilder" />
        <activity android:name="org.achartengine.GraphicalActivity" />
        <!-- Geraldine's API Key -->
        <!--
        	<meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDMBMbJCOTyWhp08XnGkDSeIF7AxB020AE" />
        -->
        <!--
        TC's API Key 
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAGoZpcDCxO4P59kUlAYDFhyxY4EZvVOQA" />
        -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBgCqtWSR8uC54F9oejiOQ8WwwRKln7MtQ" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <service android:name="sg.nyp.groupconnect.TestService" >
        </service>

        <receiver android:name="sg.nyp.groupconnect.ConnectivityReceiver" >
            <intent-filter>
                <action android:name="sg.nyp.groupconnect.NETWORK_CONNECTED_INTENT" />
            </intent-filter>
        </receiver>
    </application>

</manifest>